.textbox {
  padding: 0.5rem;
  border: 2px solid #444;
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  background: #fff;
  color: #000;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}
