.link {
    color: #0078d4;
    text-decoration: none;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.25 ease, background-color 0.2s ease;
}

.link:hover {
    color: #005ea0;
    text-decoration: underline;
}

.link:focus-visible {
    outline: 3px solid #ffbf47;
    outline-offset: 3px;
    background-color: #e6f0fa;
}

.link:active {
    color: #004577;
}

.link:visited {
    color: #551a8b;
}